/*side-navi*/
#shop_side_nav{
	padding: 0;
	border-right: 1px solid #ddd;
}
#shop_side_nav nav{
	display: block;
	padding: 0;
}
#shop_side_nav a{
	padding: 1rem 2rem;
	border-bottom: 1px solid #ddd;
	color: gray;
}
#shop_side_nav nav ul li a:hover{
	background-color: #ddd;
}
/*dropdown*/
#header-mid .dropdown .dropdown-menu{
	/*margin-right: -0.6rem; */
	margin-top: 0.5rem;
	border: none;
	box-shadow: 0 0 3px #ddd;
	/*box-shadow: 0 0 30px #ddd, 0 -10px 30px #eee, 0 10px 30px #eee;*/
}
#header-mid .dropdown .dropdown-menu::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	right: 1.3rem;
	margin-left: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}
/*header-mid*/
#header-mid nav ul li > :first-child{
	color: white;
}


/*notif load*/
.notif_show::after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255, 0, 0, .85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.notif_hide::after{
  background:rgba(255, 0, 0, 0.0);
  content: '';
}



